{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row d-flex justify-content-around">
            {% if films is not empty %}
            <h1>Liste de tout les films disponible !</h1>
                <a href="/getall" class="btn btn-primary" id="btn-all">Voir le JSON de tout les films !</a>
                {% for film in films %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ film.Nom }}</h5>
                                <img src="{{ film.urlimage }}" class="img-fluid" alt="Responsive image" height="100%" width="100%">
                                <h6><p class="card-text">{{ film.type }}</p></h6>
                                <p class="card-text">{{ film.Synopsis }}</p>
                                <a href="/get/{{ film.id }}" class="btn btn-primary">Voir le JSON associé au film </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% else %}
                <h1>Aucun film trouvé ! allez sur la route /create sur postman est ajoutez un film !</h1>
            {% endif %}
        </div>
    </div>

{% endblock %}
